<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("PageScripts", false)
    </head>
    <body>
        <header>
            <div>
                <div>
                    <div class="pull-left"><h1>Bake N' Flake</h1></div>
                    <div class="pull-left">
                        <img src="~/Images/logo.jpg" />
                    </div>
                </div>
                <div class="pull-right">
                    @*<section class="float-right" id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                    <ul class="nav nav-pills">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Orders", "Index", "Home")</li>
                        <li data-counter="0" id="cartDisplay">@Html.ActionLink("Cart", "Index", "Cart")</li>
                        <li>@Html.ActionLink("Customers", "Customers", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="container-fluid clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="pull-left">
                    <p>&copy; @DateTime.Now.Year Bake N' Flake Backery Shop</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
