@model BakeBFlake.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Home")) {

    <fieldset>
        <legend>Customer Details</legend>

        <div class="editor-label">
            Id
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
        </div>

        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
        </div>

        <div class="editor-label">
            Address
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
        </div>

        <div class="editor-label">
            Phone
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            Password
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
