@model List<BakeBFlake.Models.User>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        Id: @Html.TextBox("id")
        First Name: @Html.TextBox("firstName")
        Last Name: @Html.TextBox("lastName")
        Address: @Html.TextBox("address")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            IsAdmin
        </th>
        <th></th>
    </tr>

    @foreach (BakeBFlake.Models.User customer in Model)
    {
        <tr>
            <td>
                @customer.Id
            </td>
            <td>
                @customer.Name
            </td>
            <td>
                @customer.LastName
            </td>
            <td>
                @customer.Address
            </td>
            <td>
                @customer.PhoneNumber
            </td>
            <td>
                @customer.Prefered
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
            </td>
        </tr>
    }

</table>
